<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title></title>
    <link rel="icon" href="/share/static/favicon.ico" type="image/x-icon">
    <style>
        html, body {
            margin: 0;
            height: 100vh;
            background: #262626;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            max-width: 280px;
            height: 280px;
            opacity: 0.3;
        }
    </style>
</head>
<body>
<div class="container">
    <a href="https://github.com/alangrainger/immich-public-proxy"><img src="/images/ipp.svg" alt=""></a>
</div>
</body>
</html>
